@media print /*--This is for Print--*/
{
@page {size: 3.5in 8.5in;}
@page { width: 50em; }

 
.mydiv{
	background-color: #CD853F;
	text-align:left;
	border: 1px dotted #CCCCCC ;
}
   
}


@media screen /*--This is for Print Preview Screen--*/
{
.mydiv{
	text-align:left;
    border: 3px dotted #CCCCCC ;
    padding: 50px 10px 10px 10px ;
}
			
}