@CHARSET "UTF-8";

@import "partials/form";

.content_message{
	padding:15px 15px 0px 15px;
}
.alert_message{
	border-radius: 3px;
	padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}

.form-group select, .form-group textarea, .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="datetime"], .form-group input[type="datetime-local"], .form-group input[type="date"], .form-group input[type="month"], .form-group input[type="time"], .form-group input[type="week"], .form-group input[type="number"], .form-group input[type="email"], .form-group input[type="url"], .form-group input[type="search"], .form-group input[type="tel"], .form-group input[type="color"] {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: hsl(0, 0%, 100%);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: hsl(0, 0%, 100%);
    border-bottom-color: hsl(0, 0%, 84%);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: hsl(0, 0%, 84%);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: hsl(0, 0%, 84%);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: hsl(0, 0%, 84%);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none !important;
    color: hsl(0, 0%, 52%);
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    transition-duration: 0.1s;
}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover {
    border-bottom-color: hsl(0, 0%, 71%);
    border-left-color: hsl(0, 0%, 71%);
    border-right-color: hsl(0, 0%, 71%);
    border-top-color: hsl(0, 0%, 71%);
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
    background-color: hsl(0, 0%, 100%);
    border-bottom-color: hsl(29, 90%, 61%);
    border-left-color: hsl(29, 90%, 61%);
    border-right-color: hsl(29, 90%, 61%);
    border-top-color: hsl(29, 90%, 61%);
    box-shadow: none;
    color: hsl(0, 0%, 41%);
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}
.form-control, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: hsl(0, 0%, 100%);
    border-bottom-color: hsl(0, 0%, 84%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: hsl(0, 0%, 84%);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: hsl(0, 0%, 84%);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: hsl(0, 0%, 84%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none !important;
    color: hsl(0, 0%, 52%);
}
.form-control:focus, select:focus {
    background-color: hsl(0, 0%, 100%);
    border-bottom-color: hsl(29, 90%, 61%);
    border-left-color: hsl(29, 90%, 61%);
    border-right-color: hsl(29, 90%, 61%);
    border-top-color: hsl(29, 90%, 61%);
    color: hsl(0, 0%, 41%);
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}
textarea.form-control {
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
}
.form-actions {
    background-color: hsl(0, 0%, 96%);
    border-top-color: hsl(0, 0%, 90%);
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 19px;
}

select.form-control {
    height: 32px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
}

.page-header {
    border-bottom-color: hsl(0, 0%, 89%);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 16px;
    padding-top: 7px;
}
.page-header h1 {
    color: hsl(205, 65%, 43%);
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.page-header h1 small {
    color: hsl(223, 14%, 56%);
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0;
}


.flash{
	background:#F6624A;
	color:white;
	width:200px;
	position:absolute;
	right:20px;
	bottom:20px;
	padding:1em;
	display:none;
}

img{
	max-width:100%;
}

.gallery_image{
	margin-bottom:1em;
}

label {
    cursor: default;
}
 
 label {
    font-size: 14px;
}

 label, .lbl {
    vertical-align: middle;
}
 
input.ace[type="checkbox"], input.ace[type="radio"] {
    cursor: pointer;
    height: 18px;
    opacity: 0;
    position: absolute;
    width: 18px;
    z-index: 12;
}
input.ace[type="checkbox"]:checked, input.ace[type="radio"]:checked, input.ace[type="checkbox"]:focus, input.ace[type="radio"]:focus {
    outline-color: -moz-use-text-color !important;
    outline-style: none !important;
    outline-width: medium !important;
}
input.ace[type="checkbox"] + .lbl, input.ace[type="radio"] + .lbl {
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-height: 18px;
    min-width: 18px;
    position: relative;
    z-index: 11;
}
input.ace[type="checkbox"] + .lbl.padding-16::before, input.ace[type="radio"] + .lbl.padding-16::before {
    margin-right: 16px;
}
input.ace[type="checkbox"] + .lbl.padding-12::before, input.ace[type="radio"] + .lbl.padding-12::before {
    margin-right: 12px;
}
input.ace[type="checkbox"] + .lbl.padding-8::before, input.ace[type="radio"] + .lbl.padding-8::before {
    margin-right: 8px;
}
input.ace[type="checkbox"] + .lbl.padding-4::before, input.ace[type="radio"] + .lbl.padding-4::before {
    margin-right: 4px;
}
input.ace[type="checkbox"] + .lbl.padding-0::before, input.ace[type="radio"] + .lbl.padding-0::before {
    margin-right: 0;
}
input.ace[type="checkbox"] + .lbl::before, input.ace[type="radio"] + .lbl::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: hsl(0, 0%, 98%);
    border-bottom-color: hsl(0, 0%, 78%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: hsl(0, 0%, 78%);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: hsl(0, 0%, 78%);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: hsl(0, 0%, 78%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05);
    color: hsl(197, 61%, 50%);
    content: " ";
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    line-height: 14px;
    margin-right: 1px;
    min-width: 16px;
    text-align: center;
    vertical-align: middle;
}
input.ace[type="checkbox"]:checked + .lbl::before, input.ace[type="radio"]:checked + .lbl::before {
    background-color: hsl(214, 54%, 97%);
    border-bottom-color: hsl(205, 13%, 72%);
    border-left-color: hsl(205, 13%, 72%);
    border-right-color: hsl(205, 13%, 72%);
    border-top-color: hsl(205, 13%, 72%);
    content: "";
    display: inline-block;
}
input.ace[type="checkbox"]:hover + .lbl::before, input.ace[type="radio"]:hover + .lbl::before, input.ace[type="checkbox"] + .lbl:hover::before, input.ace[type="radio"] + .lbl:hover::before {
    border-bottom-color: hsl(24, 100%, 62%);
    border-left-color: hsl(24, 100%, 62%);
    border-right-color: hsl(24, 100%, 62%);
    border-top-color: hsl(24, 100%, 62%);
}
input.ace[type="checkbox"]:active + .lbl::before, input.ace[type="radio"]:active + .lbl::before, input.ace[type="checkbox"]:checked:active + .lbl::before, input.ace[type="radio"]:checked:active + .lbl::before {
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 3px hsla(0, 0%, 0%, 0.1) inset;
}
input.ace.ace-checkbox-2[type="checkbox"] + .lbl::before, input.ace.ace-checkbox-2[type="radio"] + .lbl::before {
    box-shadow: none;
}
input.ace.ace-checkbox-2[type="checkbox"]:checked + .lbl::before, input.ace.ace-checkbox-2[type="radio"]:checked + .lbl::before {
    background-color: hsl(35, 95%, 55%);
    border-bottom-color: hsl(35, 95%, 55%);
    border-left-color: hsl(35, 95%, 55%);
    border-right-color: hsl(35, 95%, 55%);
    border-top-color: hsl(35, 95%, 55%);
    color: hsl(0, 0%, 100%);
}
input.ace[type="checkbox"]:disabled + .lbl::before, input.ace[type="radio"]:disabled + .lbl::before, input.ace[type="checkbox"][disabled] + .lbl::before, input.ace[type="radio"][disabled] + .lbl::before, input.ace.disabled[type="checkbox"] + .lbl::before, input.ace.disabled[type="radio"] + .lbl::before {
    background-color: hsl(0, 0%, 87%) !important;
    border-bottom-color: hsl(0, 0%, 80%) !important;
    border-left-color: hsl(0, 0%, 80%) !important;
    border-right-color: hsl(0, 0%, 80%) !important;
    border-top-color: hsl(0, 0%, 80%) !important;
    box-shadow: none !important;
    color: hsl(0, 0%, 73%);
}
input.ace[type="radio"] + .lbl::before {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    font-family: FontAwesome;
    font-size: 11px;
    height: 17px;
    line-height: 15px;
    min-width: 17px;
    text-shadow: 0 0 1px hsl(197, 61%, 50%);
}
input.ace[type="radio"]:checked + .lbl::before {
    content: "";
}
input.ace.ace-switch[type="checkbox"] {
    height: 25px;
    width: 55px;
}
input.ace.ace-switch[type="checkbox"] + .lbl {
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    min-height: 24px;
}
input.ace.ace-switch[type="checkbox"] + .lbl::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: hsl(0, 0%, 96%);
    border-bottom-color: hsl(0, 0%, 80%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: hsl(0, 0%, 80%);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: hsl(0, 0%, 80%);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: hsl(0, 0%, 80%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2) inset;
    color: hsl(0, 0%, 60%);
    content: "ON\a0\a0\a0\a0\a0\a0\a0\a0OFF";
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    margin-right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: -19px;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: text-indent;
    transition-timing-function: ease;
    width: 52px;
}
input.ace.ace-switch[type="checkbox"] + .lbl::after {
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    box-shadow: 0 1px 1px 1px hsla(0, 0%, 0%, 0.3);
    color: hsl(0, 0%, 84%);
    content: "|||";
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: lighter;
    height: 22px;
    left: -3px;
    line-height: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    text-align: center;
    text-shadow: -1px 0 0 hsla(0, 0%, 0%, 0.15);
    top: -2px;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: left;
    transition-timing-function: ease;
    width: 22px;
}
input.ace.ace-switch[type="checkbox"]:checked + .lbl::before {
    background-color: hsl(202, 37%, 66%);
    border-bottom-color: hsl(207, 57%, 54%);
    border-left-color: hsl(207, 57%, 54%);
    border-right-color: hsl(207, 57%, 54%);
    border-top-color: hsl(207, 57%, 54%);
    color: hsl(0, 0%, 100%);
    text-indent: 9px;
}
input.ace.ace-switch[type="checkbox"]:checked + .lbl::after {
    background-color: hsl(0, 0%, 100%);
    color: hsl(202, 37%, 66%);
    left: 34px;
}
input.ace.ace-switch.ace-switch-2[type="checkbox"] + .lbl::before {
    content:"YES\a0\a0\a0\a0\a0\a0\a0\a0NO";
}

.pagination{
	margin:0px;
	float: right;
}
div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_length select {
    width: 75px;
    display: inline-block;
}
.search_tool{
	text-align:right;
}


.label-sm.arrowed-in {
    margin-left: 4px;
}
.label.arrowed-in {
    margin-left: 5px;
}
.label.arrowed, .label.arrowed-in {
    position: relative;
    z-index: 1;
}
.label-sm {
    padding: .2em .4em .3em;
    font-size: 11px;
    line-height: 1;
    height: 18px;
}
.label-inverse, .badge-inverse {
    background-color: #333!important;
}
.order_head , .order_footer{
	text-align: center;
}
.order_head:after, .order_content:after{
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
}
.googlemap{
	margin:0px;
	height: 520px;
	width: 340px;
}


@media(min-width:480px) {
.googlemap{	
	height: 420px;
	width: 540px;
	}
}

@media(min-width:768px) {
.googlemap{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	height: 480px;
	width: 540px;
}
}
@media(min-width:992px) {
.googlemap{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	height: 540px;
	width: 640px;
}
}

@media(min-width:1200px) {
.googlemap{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	height: 720px;
	width: 960px;
}
}

@media(min-width:1480px) {
	.googlemap{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	height: 960px;
	width: 1080px;
}
}
